
/**
 * Mobile and iPad
 */
@media (max-width: 768px) {

    #innerHeadings {
        display: none;
    }

    #leftSide {
        position: fixed;
        left: -87%;
        top: 0;
        display: none;
        width: 87%;
        padding: 24px;
        z-index: 200;
        -webkit-box-shadow: 1px 0 15px 0 rgba(0,0,0,.3);
        box-shadow: 1px 0 15px 0 rgba(0,0,0,.3);
    }

    #leftSide ul {
        font-size: 14px;
    }

    #rightSide {
        padding: 64px 0 0 0;
        color: #111;
    }

    #rightSide h1 {
        font-size: 32px;
    }

    #rightSide h2 {
        font-size: 25px;
    }

    #rightSide h3 {
        font-size: 20px;
    }

    #rightSide p {
        font-size: 14px;
    }

    .rightInner {
        padding: 15px;
    }

    table {
        display: block;
        width: 100% !important;
        overflow-x: auto !important;
    }

    #expandNav {
        display: block;
        float: right;
        width: 24px;
        height: 64px;
        cursor: pointer;
        background: url('../img/expandMenuWhite.png') center center no-repeat;
    }

    #subnav {
        padding: 3px 15px 0 15px;
    }

}